body {
    display: flex;
    flex-direction: column;

    max-width: 630px;
    background-color: var(--background);
    
    position: relative;
    border: 1px solid var(--text-body);
}

.modal {
    display: flex;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: var(--modal-background);
}
.modalContent {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 630px;
}

.confirmOrder {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 377px;

    margin: 0 16px;
    padding: 0 25px;
    color: var(--shape);
    background-color: var(--secondary-green);

    border-radius: 8px;
}

.confirmOrder h4 {
    margin: 21px 0 28px;
    font-size: 22px;
    font-weight: 700;
}

.confirmOrder div {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 400;
}

.confirmOrder div + div {
    margin-top: 12px;
}

.total h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
}

.confirmOrder button {
    border-radius: 32px;
    border: none;
    height: 52px;

    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.confirmOrder .confirmAndSend {
    color: var(--secondary-green);
}

.confirmOrder .cancel {
    background-color: var(--secondary-green);
    color: var(--shape);
}


header {
    flex: 1;
    background-color: var(--red);
    color: var(--shape);

    height: 92px;
    padding: 16px 24px;

    box-shadow: 0 4px 10px var(--text-title);
    z-index: 1;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

header h1 {
    font-size: 44px;
}

header h4 {
    font-size: 18px;
}

.options{
    margin-top: 5px;
    padding: 27px 19px 0 19px;
    color: var(--text-title);
}

.options h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.container {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

.container::-webkit-scrollbar {
    width: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 172px;
    padding: 18px 14px;
    margin-bottom: 4px;

    background-color: var(--shape);

    border-radius: 10px;

    box-shadow: 1px 1px 3px var(--text-body);

    position: relative;
    z-index: 0;

}

.item + .item{
    margin-left: 16px;
}

.item img {
    width: 144px;
    height: 87px;
    margin-bottom: 8px;

    border-radius: 4px;
}

.item h3 {
    font-size: 16px;
    margin-bottom: 4px;
}

.item p {
    font-size: 15px;
    color: var(--text-body);
    margin-bottom: 8px;
}

.item h4 {
    font-size: 16px;
    color: black;
}

.active {
    border: 5px solid var(--green);
    transition: 300ms;
}

.price {
    display: flex;
    justify-content: space-between;
}

.price ion-icon {
    display: none;
}

.active ion-icon {
    font-size: 20px;
    color: var(--green);
    display: flex;
}


.button_container {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: var(--shape);

    padding: 16px 24px;
    margin-top: 16px;

    position: sticky;
    bottom: 0;
}

.button_container button {
    background-color: var(--button-background);
    width: 364px;
    height: 61px;

    padding: 8px;

    font-size: 20px;
    color: var(--shape);

    border: none;
    outline: none;
    border-radius: 50px;
}

.button_active button{
    background-color: var(--green);
}


